---
- name: Install prerequisites 
  ansible.builtin.package:
    name: 
      - ninja-build
      - gettext
      - cmake
      - unzip
      - curl
      - git
      - make
    state: present

- name: Install Debian specific prerequisites 
  ansible.builtin.package:
    name: 
      - build-essential
    state: present
  when: ansible_facts['os_family'] == 'Debian'

- name: Install RedHat specific prerequisites
  ansible.builtin.package:
    name:
      - gcc 
    state: present
  when: ansible_facts['os_family'] == 'RedHat'

- name: Remove existing Neovim directory, if it exists
  file:
    path: "{{ neovim_clone_dest }}"
    state: absent

- name: Clone Neovim repository
  git:
    repo: "{{ neovim_repo }}"
    dest: "{{ neovim_clone_dest }}"
    version: "{{ release_version }}" 

- name: Build Neovim
  command: make CMAKE_BUILD_TYPE={{ neovim_build_type }}
  args:
    chdir: "{{ neovim_clone_dest }}"

- name: Install Neovim
  command: make install
  args:
    chdir: "{{ neovim_clone_dest }}"
...
